<section>
  <header class="flex-container"
          fxLayout="row" fxLayoutAlign="center center">
    <app-poi-search class="flex-item" fxFlex="30%">
    </app-poi-search>
  </header>
  <main>
    <md-progress-bar mode="determinate" [value]="searchService.progress"></md-progress-bar>
    <div>Progress: {{ searchService.progress }} %</div>
    <ul>
      <li *ngFor="let res of (searchService.currentResult | async)">
        {{ res.name }}
      </li>
    </ul>
  </main>
  <footer>
  </footer>
</section>
